<main>
  <h3>E-pétition : Mettre le thème rose de VSCode par défaut !</h3>
  <ul id="signature-list">
    {{#each signatures}}
      <li>
        <div>{{firstname}} {{lastname}}</div>
        <div>
          <img src="{{signature}}" />
        </div>
        <div>{{createdAt}}</div>
      </li>
    {{/each}}
  </ul>
</main>
<aside>
  <h3>Formulaire</h3>
  <form action="/signatures" method="POST">
    <div>
      <label for="firstname">Prénom : </label>
      <input name="firstname" id="firstname" />
    </div>
    <div>
      <label for="lastname">Nom : </label>
      <input name="lastname" id="lastname" />
    </div>
    <canvas id="cnv" width="100" height="50"></canvas>
    <ul class="errors">
    </ul>
    <div>
      <button id="btn-save" type="submit">Valider</button>
      <button id="erase">Effacer</button>
    </div>
  </form>
</aside>